<h2>Listado de productos</h2>

<% productos.forEach(producto => { %>
    <h3><a href="/productos/<%= producto.codigo %>"><%= producto.nombre %></a></h3>  
<% }) %>

<a href="/productos/create">Crear Producto</a>

<br><br>